@model ustoreV3.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "ContactConfirmation";
}

<div id="contact-page" class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>
                Thank you for contacting us, @Model.Name!
                We will get back to you within 24 hours.
            </h2>
        </div>
        <div class="col-sm-4 bobblehead-contact">
            <div class="contact-info">
                <h2 class="title text-center">Contact Info</h2>
                <address>
                    <p>Bobbleheads-R-Us</p>
                    <p>115000 Ambassador Dr</p>
                    <p>Kansas City, MO. 64157</p>
                    <p>Phone: 816-807-7445</p>
                    <p>Email: lrotert738@outlook.com</p>
                </address>
                @*<div class="social-networks">*@
                @*<h2 class="title text-center">Social Networking</h2>*@
                <h2>Social Networking</h2>
                <ul>
                    @*<li><a href="https://www.facebook.com/CentriqTraining/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/CentriqTraining" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/centriq-foss-training" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/user/CentriqTraining" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#https://plus.google.com/108553092060324883743" target="_blank"><i class="fa fa-google-plus"></i></a></li>*@

                </ul>
                @*</div>*@
            </div>
        </div>

    </div>
</div>

